@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: Trocchi, sans-serif;
}

.navbar {
    background-color: #050A30;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.primary-icon {
    height: 60px;
}

.nav-list {
    list-style-type: none;

}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: #FFDAB9;
    text-decoration: none;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .navbar:hover {
        border: 1px solid white;
        transition: .5s;
    }

    .navbar .container-icon {
        width: 100%;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}